# OpenAI API Configuration
OPENAI_API_KEY="your-api-key"
OPENAI_API_BASE="https://openrouter.ai/api/v1"
OPENAI_DEFAULT_MODEL="google/gemini-3.1-flash-lite-preview"
OPENAI_MODEL_TEMPERATURE=0.2

# Deepgram API Configuration
DEEPGRAM_API_KEY="your-deepgram-api-key"